AWS_ACCESS_KEY_ID=example-access-key
AWS_SECRET_ACCESS_KEY=example-secret-key
AWS_DEFAULT_REGION=example-region-aws
GRUPO_VANGUARDIA_API_TOKEN=example-api-token
GOOGLE_APPLICATION_CREDENTIALS=config/example-credentials.json